@import "modules/_buttons.scss";
$body_bgc: #ccc;
$default_ffly: "Dosis" sans-serif;
body{
	background-color: blue;
	display: flex;
}


nav{
	background-color: $body_bgc;
	padding-bottom: 10px;
	a{
		padding-right: 21px;
	}
	li{
	text-decoration: none;
		@media(min-width:768px){
			padding-right: 15px;
			padding-right: 30px;
	}
	}

}

p{
	display: flex;
	background-color: #fff;
	font-size:75px;
	position: relative;


}


/*mixin*/
@mixin red{
	color: red;
}

@mixin blue{
	color: blue;
}

@mixin green{
	color: green;
}


@mixin bgc-blue{
	background-color: blue;
	color: #ccc;
}

.red{
	@include red;
	font-size: 14px;
}

.blue{
	@include blue;
}

.green{
	@include green;
	font-size: 15px;
}



/*function*/

$height_value: 200;

.h{
	height: $height_value  /2 *2px
}

$width_value:200;

.w{
	width: ($width_value +50)/5 *4px;
}

/* placeholder */

.input::placeholder{
	@include red;
}


/* selection */

.p::selection{
	@include bgc-blue
}

/*  keyframes */
 @mixin keyframes-duration{
	animation-duration: 3s;
	animation-name: slidein;
}


.box{
	@include keyframes-duration();
}

.p{
	@include keyframes-duration()
}

/*extend*/

/*1*/
%equil-width{
	display: flex;
	flex-direction: column;
}


.wrapper-icon{
	@extend %equil-width;
}

.block-icon{
	@extend %equil-width;
}

/*2*/

.fa-facebook{
	display: inline-block;
	width: 20px;
	height: 20px;
}

.fa-google{
	font-size: 15px;
	@extend .fa-facebook;
}

/*3*/

.nav {
	position: relative;
	left:50%;
}

.li{
	float: none;
	@extend .nav;
}