// Color system
$primary: #8bc34a;
$secondary:#e74c3c;
$gray-900:#707070;
$green:#8bc34a;
$red:#e74c3c;

// fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 2.25rem;


// buttons
$btn-padding-y-lg:15px;
$btn-padding-x-lg:30px;
$font-size-lg:0.9375rem;